---
---
<!DOCTYPE html>
{% include head.html %}

<div class="container site-container">
    <div class="interactive-container row col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="header-col row col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="/assets/images/logo.png">
        <p>Tiff Lu</p>
      </div>

      <div class="svg-container row col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <svg class="svg-content" preserveAspectRatio="xMidYMid meet"></svg>
      </div>
    </div>
    <div class="description-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- Project Overview Modals -->
      {% for project in site.projects %}
        {{ project }}
      {% endfor %}
    </div>
</div>

<div class="key">
  <svg height="65" width="120">
    <circle cx="25" cy="25" r="8" fill="#e5e5e5" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="25" fill="#999999">Projects</text>
    <circle cx="25" cy="50" r="8" fill="#000" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="50" fill="#999999">Skills</text>
  </svg>
</div>

<script type="text/javascript" src="/assets/js/graph.js"></script>
