---
---
<!DOCTYPE html>
{% include head.html %}

<div class="container site-container">
    <div class="interactive-container row col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="header-col row col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="/assets/images/logo.png">
        <p>Tiff Lu</p>
      </div>

      <div class="svg-container row col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <svg class="svg-content" preserveAspectRatio="xMidYMid meet"></svg>
      </div>
    </div>
    <div class="description-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- Project Overview Modals --> 
      {% for project in site.projects %}
        {{ project }}
      {% endfor %}
    </div>
</div>

<div class="key">
  <svg height="140" width="140">
    <circle cx="25" cy="25" r="12" fill="#d5d5d5" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="25">Projects</text>
    <circle cx="25" cy="50" r="6" fill="#d1e9c9" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="50">Activism</text>
    <circle cx="25" cy="75" r="6" fill="#fd6c7e" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="75">Communication</text>
    <circle cx="25" cy="100" r="6" fill="#fbd05b" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="100">Design</text>
    <circle cx="25" cy="125" r="6" fill="#2c6fb2" /> <text text-anchor="start" alignment-baseline="middle" x="45" y="125">Engineering</text>
  </svg>
</div>

<script type="text/javascript" src="/assets/js/graph.js"></script>
