---
---
<!DOCTYPE html>
{% include head.html %}

<!-- Project Overview Modals -->
{% for project in site.projects %}
  {{ project }}
{% endfor %}

<div class="container site-container">
  <div class="header-container row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      :D
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      About
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      Resume
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      Contact
    </div>
  </div>
  <div class="portfolio-container row">
    <div class="svg-container col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <svg class="svg-content" preserveAspectRatio="xMidYMid meet"></svg>
    </div>
    <div class="description-container col-xs-4 col-sm-4 col-md-4 col-lg-4">col-4</div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/graph.js"></script>
