---
---

@import "{{ site.theme }}";

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 160%;
  position: fixed;
  letter-spacing: 0.4px;

  b, strong {
    font-weight: 600;
  }
}


blockquote, code, .caption, .key, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

code {
  font-size: 13px;
}

.site-container {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.interactive-container {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  font-size: 20px;
}

.header-col {
  height: 15%;
  width: 100%;
  text-transform: uppercase;

   img {
     height: 80%;
   }

   p {
     padding-left: 10px;
     display: inline;
   }
}

.portfolio-container {
  height: 85%;
  width: 100%;
}

.svg-container {
  height: 100%;
  width: 100%;
}

.description-container {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 5%;
}

.svg-content {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

  .links line {
    stroke: #d3d3d3;
  }

  .nodes circle {
    transition: fill .8s ease;

    &:hover {
      transition: fill .2s ease;
      fill: #73b3ff;

      &.active-children {
        fill: #73b3ff;
      }
    }

    &.active-node {
      transition: fill 1s ease;
      fill: #ffbf73;
    }

    &.active-children {
      fill: #ffe3c1;
    }
  }
}

.description {
  transition: opacity .4s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.active {
    opacity: 1;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  img {
    height: 1em;
  }
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 28px;
}

h3 {
  font-style: italic;
  font-size: 22px;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 120%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

blockquote {
  letter-spacing: 0px;
  line-height: 140%;
  font-size: 14px;
  font-weight: 300;
}

.caption {
  text-transform: uppercase;
  font-size: 11px;
  text-align: right;
  font-weight: 300;
  font-style: italic;
  line-height: 120%;
}

.key {
  z-index: -1;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: rgba(100%, 100%, 100%, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 30px -5px #d5d5d5;
  font-size: 10px;

  text body {
    color: #999999;
  }
}

a {
  color: #639de5;

  &:visited {
    color: #426999;

    &:hover {
      color: #426999;
    }
  }

  &:hover {
    color: #639de5;
  }
}
