<div class="modal fade" id="{{ page.title }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          {% if page.name %}{{ page.name }}{% else %}{{ page.title }}{% endif %}
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
